Ejercicio1/catalogo.dtd

<!ELEMENT catalogo (libros*, revistas*, usuarios*, prestamos*)>
<!ATTLIST catalogo fecha CDATA #REQUIRED>

<!ELEMENT libros (libro+)>
<!ELEMENT libro (titulo, anio, autores, etiquetas?)>
<!ATTLIST libro id ID #REQUIRED>
<!ATTLIST libro categoria CDATA #REQUIRED>
<!ATTLIST libro isbn CDATA #REQUIRED>
<!ATTLIST libro paginas CDATA #IMPLIED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT anio (#PCDATA)>

<!-- Elementos de autores-->
<!ELEMENT autores (autor+)>
<!ELEMENT autor (nombre, orcid?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT orcid (#PCDATA)>

<!-- Elementos de etiquetas-->
<!ELEMENT etiquetas (etiqueta+)>
<!ELEMENT etiqueta (#PCDATA)>


<!-- Elementos de revistas-->
<!ELEMENT revistas (revista+)>
<!ELEMENT revista (titulo, anio)>
<!ATTLIST revista id ID #REQUIRED>
<!ATTLIST revista area CDATA #IMPLIED>
<!ATTLIST revista issn CDATA #REQUIRED>
<!ATTLIST revista numero CDATA #IMPLIED>


<!-- Elementos de usuarios-->
<!ELEMENT usuarios (usuario+)>
<!ELEMENT usuario (nombre, email)>
<!ELEMENT email (#PCDATA)>

<!ATTLIST usuario id ID #REQUIRED>
<!ATTLIST usuario tipo (alumno|profesor) #REQUIRED>

<!-- Elementos de prestamos-->
<!ELEMENT prestamos (prestamo+)>
<!ELEMENT prestamo (fecha_inicio, fecha_fin?, estado)>

<!ELEMENT fecha_inicio (#PCDATA)>
<!ELEMENT fecha_fin (#PCDATA)>
<!ELEMENT estado (#PCDATA)>

<!ATTLIST prestamo id ID #REQUIRED>
<!ATTLIST prestamo itemRef IDREF #REQUIRED>
<!ATTLIST prestamo usuarioRef IDREF #REQUIRED>
